body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 14, 15);
  font-family: 'Press Start 2P', cursive;
  background-size: cover;
  background-repeat: no-repeat;
  }

  h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 167, 175);
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    padding: 15px;
    border-radius: 4px;
    border: 2px solid rgb(25, 25, 26);
  }
  
  .game-splash {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
  }

  h4 {
    text-align: center;
    width: 36%;
    font-family: 'Press Start 2P', cursive;
    font-size: .75rem;
    color: rgb(246, 251, 252);
  }

  h3 {
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Press Start 2P', cursive;
  }

  #logo-img {
    width: 20vw;
    border: 2px solid rgb(25, 25, 26);
  }
  
  #game-logo {
    width: 20vw;
    border: 2px solid rgb(25, 25, 26);
  }
  
  #arrows-img-div {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #arrows-img {
    width: 8rem;
  }
  
  body button {
    background-color: #65ccd1;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 4px solid rgba(255, 255, 255, 0);
    transition: ease-in 0.2s;
  }
  body button:hover {
    background-color: #19e4ee;
    color: rgb(255, 255, 255);
  }
  
  #game-board {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  #game-div {
    /* padding-top: 6rem; */
    width: 0;
    margin: 1rem;
    /* height: 100vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #score-div {
    width: 12rem;
    margin-left: 6rem
  }